.footerleft {
    width: 35%;
}

.footertext {
    font-family: "Fjalla One", sans-serif;
    font-size: 26px;
    font-weight: 400;
    line-height: 26px;
}

.footerright {
    width: 65%;

}

.button {
    padding: 15px 20px;
}